<div class="password">
  <input
    [type]="(passwordVisibilityState$ | async) === 'opened' ? 'text' : 'password'"
    [formControl]="formControl">
  <div
    (click)="changePasswordVisibilityStatus()"
    class="password__visibility">
    <svg-icon [src]="getPasswordVisibilityIcon(passwordVisibilityState$ | async)"></svg-icon>
  </div>
  <div
    [class.short-password]="formControl.errors && formControl.errors!['minlength']"
    [class.strong-password]="!formControl.errors"
    class="password__strength">
    <span
      [class.easy]="formControl.errors && formControl.errors['easyPassword']"
      [class.medium]="formControl.errors && formControl.errors!['mediumPassword']"
      class="password__strength-item"></span>
    <span
      [class.medium]="formControl.errors && formControl.errors!['mediumPassword']"
      class="password__strength-item"></span>
    <span class="password__strength-item"></span>
  </div>
  @if (formControl.errors) {
    @switch (getErrorObjectKey(formControl.errors)) {
      @case ('minlength') {
        Minimum password length is {{formControl.errors['minlength'].requiredLength }}
      }
      @case ('easyPassword') {
        Easy password
      }
      @case ('mediumPassword') {
        Medium password
      }
    }
  } @else {
    Strong password
  }

</div>

